<!DOCTYPE html>
<html>
<head>
	<title>ADOPT</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="home.css">
    <script src="https://use.fontawesome.com/6453889261.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
   
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="padding-right: 100px ; font-size: 30px" href="#">DROME</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#">ADOPTION <span class="sr-only">(current)</span></a></li>
        <li><a href="#">PET SERVICES</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LOCATE US<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">ARGENTINA</a></li>
            <li><a href="#">INDIA</a></li>
            <li><a href="#">U.S.A.</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">MARS</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">URANUS</a></li>
          </ul>
        </li>
      </ul>
     
      <ul class="nav navbar-nav ">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;">BREED <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">PUG</a></li>
            <li><a href="#">GOLDEN RETRIVER</a></li>
            <li><a href="#">POM-POM</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">HORSE</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>




<div id="top" align="center">
<h3 align="center" >DROME</h3>
<h2>PETS ADOPTING SITE</h2>
<hr>
<a href="signup.html"><button class="btn-lg btn-success" onclick="signup.html"><i class="fa fa-paw" aria-hidden="true"></i>  SIGN UP</button></a>
</div>



















<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>